<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EJS</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Hello EJS</h1>
  <% var title = "To define js dont use =, to display dynamic html use the ="%>
  <p><%= title %></p>

  <% 
  //names array
   var names = ["jason", "bob", "sam", "jo", "bostong", "michaels"];
   var random = Math.floor(Math.random() * names.length);
   var name = names[random];

  %>
  <p>Hello my name is <%=  name  %></p>
  <% if ( name.length >= 6) { %>
    <span>6 or more letters</span>
  <% }  else {  %>
    <span>has less than 6 letters</span>
  <% } %>
</body>
</html>