doctype strict
html
  head
    title Jade Test
    body
      h1 Jade Stub

      - var title = "My Jade Project that uses dashes to write JS and #{} to render variables"
      - var names = ["jason", "bob", "sam", "jo", "bostong", "michaels"];
      - var random = Math.floor(Math.random() * names.length);
      - var name = names[random];
      h2 #{ title }
      h3 Hello my name is  
        strong #{ name}
     